<div class="navigationbar">
  <div class="navigationbar-class">
    <div class="navigationbar-list">
      <%= link_to (image_tag "cf-logo-rough.png", class: "navigationbar-logo"), root_path %>
    </div>
    <div class="navigationbar-list">
      <%= link_to ("Home"), root_path %>
    </div>
    <div class="navigationbar-list">
      <%= link_to ("Products"), products_path  %>
    </div>
    <div class="navigationbar-list">
      <%= link_to ("Partnerships"), work_with_us_path  %>
    </div>
    <div class="navigationbar-list">
      <%= link_to ("R&D Platform"), research_and_development_platform_path  %>
    </div>
    <div class="navigationbar-list">
      <%= link_to ("About Us"), about_us_path %>
    </div>
    <div class="navigationbar-list">
      Media
    </div>
    <div class="navigationbar-list">
      Investor Relations
    </div>
    <div class="navigationbar-list">
      Career
    </div>
    <div class="navigationbar-list">
      <%= link_to ("Contact Us"), contact_us_path %>
    </div>
    <div class="navigationbar-list">
      Search
    </div>
  </div>
  <div class="navigationbar-border"></div>
</div>
