<div class="info-banner" style="background: url('assets/career/career-banner') no-repeat 30% 35%; background-size: cover;">
  <div class="info-banner-title-blue">
    <h1>Careers</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div id="life-at-cf" class="jump-anchor"></div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Life at CF Pharmtech</h3>
          <p>CF PharmTech is a dynamic and fast-growing company to provide inhaled products globally with an experienced international team. Its headquarters is located in China and with a subsidiary in the USA. CF encourages diversity, throughout all levels of the company. We believe that individual success depends on attitude, behavior, performance, and are committed to offering career opportunities for individual growth. </p>
          <p>Working at CF PharmTech, you will be encouraged to show off your talents and realize your personal value. It is a place where you will also be able to enjoy life with the CF team and make friends.</p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag("career/life-at-cf-1", class: "card-img") %>
      </div>
    </div>
    <div class="content-card margin-top margin-bot">
      <div class="card-text-area color-block bg-grey-green">
        <div class="card-text">
          <h3>Meet Us</h3>
          <div class="triple-card-container">
            <div class="triple-card" style="background-image: url('assets/career/meet-us-jean-marc');">
              <h5>Dr. Jean-Marc Bovet</h5>
<!--               <p>Asthma and COPD are the most common respiratory diseases which affect human health. After working in the respiratory area for about 20 years, I know the pain brought with the disease. So when I was invited to CF PharmTech, a company which focuses on inhalation products, I was very excited.</p>
              <p>In CF, you can feel the spirit and potential of a new startup company. Step by step, it developed from a lab which only owns several personnel, to a company which has its own factories, four advanced production lines, here, I felt very proud.</p>
              <p>“CF focuses on building the employees capabilities, and aims to support and empower them to be the best they can be.” If you want to make a career in the inhalation area, welcome!</p> -->
              <p><%= link_to "Read More", '#', class: "btn-flat bottom-right-btn" %></p>
            </div>
            <div class="triple-card" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1598850758/CF%20Website/About%20Us/no_copyright5_wdb75n.jpg);">
              <h5>Employee 2</h5>
              <p><%= link_to "Read More", '#', class: "btn-flat bottom-right-btn" %></p>
            </div>
            <div class="triple-card" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1598850758/CF%20Website/About%20Us/no_copyright5_wdb75n.jpg);">
              <h5>Employee 3</h5>
              <p><%= link_to "Read More", '#', class: "btn-flat bottom-right-btn" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="opportunities" class="jump-anchor"></div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Opportunity</h3>
          <h4>Submit your resumes</h4>
          <p>We are committed to creating a professional and amicable work environment for every employee to have opportunities for personal growth and to make contributions for the company growth. We welcome you to join us. If you are interested to join the CF PharmTech Team, you may submit your contact information or your resume. <%= link_to "Contact Us", contact_us_path %></p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "career/opportunity", alt: "alttext", class: "card-img" %>
      </div>
    </div>
  </div>
</div>
