<div class="info-banner career-banner-bg">
  <div class="info-banner-title info-title">
    <h1>职业发展</h1>
  </div>
</div>
<div class="bg-light-color">
  <div class="info-container">
    <div id="life-at-cf" class="jump-anchor"></div>
    <div class="content-card card-reverse pr">
      <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
      <div class="card-image-area">
        <%= image_tag "career/life-at-cf-jumping", alt: "excited employees", class: "card-image" %>
      </div>
      <div class="card-text-area pr z1">
        <div class="card-text">
          <h4 class="text-larger text-bold text-light-blue">加入长风</h4>
          <p>长风药业总部位于江苏苏州，在江苏无锡和海外设立了子公司，是一家充满活力、高速发展的公司，拥有经验丰富的专业化团队，致力于在全球提供优质的吸入制剂产品。</p>
          <p>我们坚持以事业凝聚人才，积极创造多元化的培训机制与发展空间，让各级员工在自己的岗位上绽放光芒，实现个人价值。同时，我们贯彻以企业人文吸引人才，全力打造优质的文化建设与完善的福利体系，让您感受到长风大家庭的关怀与温暖。我们期待您的加入，愿与您同心同行、携手共进。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-container">
    <div id="Meet-Us" class="jump-anchor"></div>
    <div class="meet-us margin-top">
      <div>
        <h4 class="text-larger text-bold ta-center margin-bot ml-auto mr-auto text-light-blue">遇见我们</h4>
        <div class="meet-us-card-container ml-auto mr-auto">
          <div class="meet-us-card-block">
            <%= link_to careers_jean_marc_interview_path, class: "meet-us-card meet-us-jean-marc" do %>
              <div class="meet-us-nameplate bg-trans-white">
                <div>
                  <p class="text-bold">Jean-Marc</p>
                  <p class="subtext">技术开发组</p>
                </div>
              </div>
            <% end %>
            <%= link_to careers_gao_interview_path, class: "meet-us-card meet-us-gao" do %>
              <div class="meet-us-nameplate bg-trans-white">
                <div>
                  <p class="text-bold">高成林</p>
                  <p class="subtext">药物研究院</p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="meet-us-card-block">
            <%= link_to careers_kira_interview_path, class: "meet-us-card meet-us-kira" do %>
              <div class="meet-us-nameplate bg-trans-white">
                <div>
                  <p class="text-bold">杨致惺</p>
                  <p class="subtext">商务部</p>
                </div>
              </div>
            <% end %>
            <%= link_to careers_yiming_interview_path, class: "meet-us-card meet-us-yiming" do %>
              <div class="meet-us-nameplate bg-trans-white">
                <div>
                  <p class="text-bold">张一鸣</p>
                  <p class="subtext">人力资源部</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="opportunities" class="jump-anchor"></div>
    <div class="content-card card-reverse">
      <div class="card-image-area">
        <%= image_tag "career/opportunity", alt: "alttext", class: "card-image" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <p class="text-larger text-bold text-light-blue">成长机会</p>
          <p>长风药业致力于为每一位员工提供专业、友好的工作环境，打造不同岗位人员的阶梯式成长模式，使每一位员工充分发挥自身潜能、展现个人技能、实现人生理想。我们欢迎您加入长风药业，携手同行、共创辉煌。</p>
          <p>如果您有兴趣加入长风团队，请将联系方式或简历投递至 <%= mail_to("hr@cfpharmtech.com","hr@cfpharmtech.com") %>。查阅更多职位选择，<%= link_to "请点击这里", "https://jobs.51job.com/all/co5692122.html" %>。</p>
        </div>
      </div>
    </div>
  </div>
</div>
