<div class="info-banner company-banner-bg">
  <div class="info-banner-title company-title">
    <h1>Company<br>Introduction</h1>
  </div>
</div>
<div class="">
  <div class="company-card-bg">
    <div id="What-We-Do" class="content-card">
      <div class="card-text-area">
        <div class="card-text pr">
          <p class="text-very-large teal-text mar-bot-0">2008</p>
          <p class="text-large">CF PharmTech was founded in Wuxi, Jiangsu province in 2008.</p>
          <p>Through rapid growth, it becomes a fully integrated specialty pharmaceutical company dedicated to providing high-quality respiratory drugs for the global market.</p>
          <p>Managed by a high-caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</p>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "company/company", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div id="Our-Mission" class="h300 d-flex align-items-center pr">
      <%= image_tag "partnership/doodles", alt: "alttext", class: "doodles" %>
      <div class="d-flex pad-lr-rem3 mar-auto jc-space-between">
        <div class="w35 pad-r-rem1">
          <p class="text-small teal-text mar-bot-0">Our mission</p>
          <p class="text-large mar-bot-0">A team with experience</p>
          <p class="text-large pad-r-rem1 ta-right mar-bot-0">and a mission</p>
        </div>
        <p class="ml-auto mar-lr-rem1 z1 w45 mar-bot-0 pad-t-rem2">Our mission is to develop high-quality and affordable products to treat respiratory diseases and help patients to <span class="text-bold">breathe easier and live better</span>.</p>
      </div>
    </div>
  </div>
  <div id="Our-Values" class="content-card">
    <div class="card-image-area fg-2 w65 pr">
      <%= image_tag "company/our-values-doodle", class: "pa z0 w45 top-rem2 left-rem2" %>
      <%= image_tag "company/values", alt: "alttext", class: "card-image-large z1 pr w80" %>
    </div>
    <div class="card-text-area fg-1 w35">
      <div class="card-text pr">
        <p class="text-larger text-bold">Our values</p>
        <div class="values-container">
          <div class="values-card fg-1">
            <div class="fg-4 hrem3 d-flex jc-center">
              <%= image_tag "company/integrity", class: "wrem3 hrem3" %>
            </div>
            <div class="fg-1 ta-center">
              <p class="text-very-small">Integrity</p>
            </div>
          </div>
          <div class="values-card fg-1">
            <div class="fg-4 hrem3 d-flex jc-center">
              <%= image_tag "company/patient-focus", class: "wrem3 hrem3" %>
            </div>
            <div class="fg-1 ta-center">
              <p class="text-very-small">Patient Focus</p>
            </div>
          </div>
          <div class="values-card fg-1">
            <div class="fg-4 hrem3 d-flex jc-center">
              <%= image_tag "company/science-led-innovation", class: "wrem3 hrem3" %>
            </div>
            <div class="fg-1 ta-center">
              <p class="text-very-small">Science-led Innovation</p>
            </div>
          </div>
        </div>
        <div class="btn-area">
            <%= link_to "Read More", company_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
  <div id="History" class="content-card history-banner-bg">
    <div class="">
      <div class="card-text">
        <h4 class="text-larger text-bold ta-center pad-t-rem2">Our History</h4>
        <ul>
          <li><div class="list-section"><p><strong>2008</strong></p><p>CF PharmTech was founded under Wuxi "530” Sponsorship Program</p></div></li>
          <li><div class="list-section"><p><strong>2009</strong></p><p>Received Jiangsu Provincial Innovation Award, and Science and Technology Leader Team Award</p></div></li>
          <li><div class="list-section"><p><strong>2010</strong></p><p>Secured a A-series capital investment, signed strategic partnership deal with Beijing SL Pharmaceutical</p></div></li>
          <li><div class="list-section"><p><strong>2011</strong></p><p>Wholly-owned subsidiary-Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</p></div></li>
          <li><div class="list-section"><p><strong>2011</strong></p><p>Wholly-owned subsidiary---Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</p></div></li>
          <li><div class="list-section"><p><strong>2010</strong></p><p>Signed strategic partnership deal with Beijing SL Pharmaceutical; The team was honored by China National “1000 Elite” program</p></div></li>
          <li><div class="list-section"><p><strong>2013</strong></p><p>Secured a B-series capital investment, startup Suzhou CF PharmTech</p></div></li>
          <li><div class="list-section"><p><strong>2014</strong></p><p>Completed the construction of Suzhou CF PharmTech</p></div></li>
          <li><div class="list-section"><p><strong>2015</strong></p><p>Secured a C-series capital investment, established the nasal spray and DPI production line</p></div></li>
          <li><div class="list-section"><p><strong>2017</strong></p><p>Secured a D-series capital investment of USD65 million</p></div></li>
          <li><div class="list-section"><p><strong>2019</strong></p><p>Secured a E-series capital investment of USD94 million</p></div></li>
          <li><div class="list-section"><p><strong>2020</strong></p><p>Secured a F-series capital investment of USD50 million</p></div></li>
        </ul>
      </div>
    </div>
  </div>
</div>
