<div class="info-banner company-banner-bg">
  <div class="info-banner-title info-title">
    <h1>公司介绍</h1>
  </div>
</div>
<div class="">
  <div class="company-card-bg">
    <div class="content-card">
      <div id="What-We-Do" class="jump-anchor"></div>
      <div class="card-text-area">
        <div class="card-text pr">
          <p class="text-large"><span class="text-very-large teal-text mar-bot-0">2008</span>年</p>
          <p class="text-large">长风药业在江苏省无锡市成立</p>
          <p>并迅速成长为一家致力于为全球市场提供高品质吸入类药物的综合性专业制药公司。</p>
          <p>拥有丰富的行业经验， 高素质的管理团队以及先进的设备，致力于开发治疗呼吸系统疾病的药物。</p>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "company/company", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div id="Our-Mission" class="jump-anchor"></div>
    <div class="h300 d-flex align-items-center pr">
      <div class="mission-section">
        <div class="w35 responsive pad-r-rem1">
          <p class="text-larger teal-text mar-bot-0">公司使命</p>
        </div>
        <p class="mission-section-statement"> <%= image_tag "company/our-mission-dots", alt: "dots", class: "doodle-left wrem6" %>我们的使命是开发高质量、低成本的产品治疗呼吸系统疾病，帮助患者呼吸更轻松，生活更美好。</p>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div id="Our-Values" class="jump-anchor"></div>
    <div class="card-image-area fg-2 w65 pr">
      <%= image_tag "company/our-values-doodle", class: "pa z0 w45 top-rem2 left-rem2" %>
      <%= image_tag "company/values", alt: "alttext", class: "card-image-large z1 pr w80" %>
    </div>
    <div class="card-text-area fg-1 w35">
      <div class="card-text w-minc mar-auto pr">
        <p class="text-larger text-bold">我们的价值观是</p>
        <div class="values-container">
          <div class="values-card">
            <div class="hrem3">
              <%= image_tag "company/integrity", class: "wrem2 hrem2" %>
            </div>
            <div class="ta-center">
              <p class="pad-lr-rem1 values-text">诚信务实</p>
            </div>
          </div>
          <div class="values-card">
            <div class="hrem3">
              <%= image_tag "company/patient-focus", class: "wrem2 hrem2" %>
            </div>
            <div class="ta-center">
              <p class="pad-lr-rem1 values-text">科学引领创新</p>
            </div>
          </div>
          <div class="values-card">
            <div class="hrem3">
              <%= image_tag "company/science-led-innovation", class: "wrem2 hrem2" %>
            </div>
            <div class="ta-center">
              <p class="pad-lr-rem1 values-text">以患者为中心</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div id="History" class="jump-anchor"></div>
    <div class="w100 d-flex jc-center">
      <div class="card-text">
        <h4 class="text-larger text-bold ta-center pad-t-rem2">发展历程</h4>
        <section class="pr timeline-container">
          <div class="timeline">
            <div class="timeline-point-container">
              <a href="#2008"><div class="timeline-point"><span class="timeline-point-title">2008</span></div></a>
              <a href="#2009"><div class="timeline-point"><span class="timeline-point-title">2009</span></div></a>
              <a href="#2010"><div class="timeline-point"><span class="timeline-point-title">2010</span></div></a>
              <a href="#2011"><div class="timeline-point"><span class="timeline-point-title">2011</span></div></a>
              <a href="#2013"><div class="timeline-point"><span class="timeline-point-title">2013</span></div></a>
              <a href="#2014"><div class="timeline-point"><span class="timeline-point-title">2014</span></div></a>
              <a href="#2015"><div class="timeline-point"><span class="timeline-point-title">2015</span></div></a>
              <a href="#2017"><div class="timeline-point"><span class="timeline-point-title">2017</span></div></a>
              <a href="#2018"><div class="timeline-point"><span class="timeline-point-title">2018</span></div></a>
              <a href="#2020"><div class="timeline-point"><span class="timeline-point-title">2020</span></div></a>
              <a href="#2021"><div class="timeline-point"><span class="timeline-point-title">2021</span></div></a>
            </div>
          </div>
        </section>
        <div class="">
          <ul>
            <li><div id="2008"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2008", alt: "CF lobby", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2008</strong></p><p>在无锡市政府530项目支持下江阴长风公司成立。</p></div>
            </div></li>
            <li><div id="2009"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2009", alt: "Scientist looking through microscope", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2009</strong></p><p>荣获江苏省创新创业高层次人才、科技领军型团队等奖项。</p></div>
            </div></li>
            <li><div id="2010"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2010", alt: "handshake", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2010</strong></p><p>启动A轮融资，与北京双鹭药业签订合作协议。</p></div>
            </div></li>
            <li><div id="2011"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2011", alt: "People in CF", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2011</strong></p><p>在无锡成立了全资子公司-江苏长风药业有限公司，申请五项国家专利。</p></div>
            </div></li>
            <li><div id="2013"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2013", alt: "New CF lobby", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2013</strong></p><p>完成B轮融资计划，调整股权结构，成立苏州长风药业有限公司。</p></div>
            </div></li>
            <li><div id="2014"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2014", alt: "CF Factory", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2014</strong></p><p>完成苏州工厂的建设。</p></div>
            </div></li>
            <li><div id="2015"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2015", alt: "Production line", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2015</strong></p><p>完成C轮融资，建立鼻喷剂、粉雾剂等剂型的生产线。</p></div>
            </div></li>
            <li><div id="2017"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2017", alt: "CF team 1", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2017</strong></p><p>长风药业完成4.4亿元D轮融资，完成股份制改造。</p></div>
            </div></li>
            <li><div id="2018"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2018", alt: "CF team 2", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2018</strong></p><p>完成E轮6.3亿元融资。</p></div>
            </div></li>
            <li><div id="2020"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2020", alt: "CF team 3", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2020</strong></p><p>完成F轮3.6亿元融资。</p></div>
            </div></li>
            <li><div id="2021"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2021", alt: "CF Product", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2021</strong></p><p>吸入用布地奈德混悬液和吸入用硫酸沙丁胺醇溶液获批上市。</p></div>
            </div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>