<div class="info-banner company-banner-bg">
  <div class="info-banner-title info-title">
    <h1>Company<br>Introduction</h1>
  </div>
</div>
<div class="">
  <div class="company-card-bg">
    <div class="content-card">
      <div id="What-We-Do" class="jump-anchor"></div>
      <div class="card-text-area">
        <div class="card-text pr">
          <p class="text-very-large teal-text mar-bot-0">2008</p>
          <p class="text-large">CF PharmTech was founded in Wuxi, Jiangsu province in 2008.</p>
          <p>Through rapid growth, it becomes a fully integrated specialty pharmaceutical company dedicated to providing high-quality respiratory drugs for the global market.</p>
          <p>Managed by a high-caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</p>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "company/company", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div id="Our-Mission" class="jump-anchor"></div>
    <div class="h300 d-flex align-items-center pr">
      <div class="mission-section">
        <div class="w35 responsive pad-r-rem1">
          <p class="text-larger teal-text mar-bot-0">Our mission</p>
        </div>
        <p class="mission-section-statement"> <%= image_tag "company/our-mission-dots", alt: "dots", class: "doodle-left wrem6" %> Our mission is to develop high-quality and affordable products to treat respiratory diseases and help patients to <span class="text-bold">breathe easier and live better</span>.</p>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div id="Our-Values" class="jump-anchor"></div>
    <div class="card-image-area fg-2 w65 pr">
      <%= image_tag "company/our-values-doodle", class: "pa z0 w45 top-rem2 left-rem2" %>
      <%= image_tag "company/values", alt: "alttext", class: "card-image-large z1 pr w80" %>
    </div>
    <div class="card-text-area fg-1 w35">
      <div class="card-text w-minc mar-auto pr">
        <p class="text-larger text-bold">Our values</p>
        <div class="values-container">
          <div class="values-card">
            <div class="hrem3">
              <%= image_tag "company/integrity", class: "wrem2 hrem2" %>
            </div>
            <div class="ta-center">
              <p class="pad-lr-rem1 values-text">Integrity</p>
            </div>
          </div>
          <div class="values-card">
            <div class="hrem3">
              <%= image_tag "company/patient-focus", class: "wrem2 hrem2" %>
            </div>
            <div class="ta-center">
              <p class="pad-lr-rem1 values-text">Patient Focus</p>
            </div>
          </div>
          <div class="values-card">
            <div class="hrem3">
              <%= image_tag "company/science-led-innovation", class: "wrem2 hrem2" %>
            </div>
            <div class="ta-center">
              <p class="pad-lr-rem1 values-text">Science-led Innovation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div id="History" class="jump-anchor"></div>
    <div class="w100 d-flex jc-center">
      <div class="card-text">
        <h4 class="text-larger text-bold ta-center pad-t-rem2">Our History</h4>
        <section class="pr timeline-container">
          <div class="timeline">
            <div class="timeline-point-container">
              <a href="#2008"><div class="timeline-point"><span class="timeline-point-title">2008</span></div></a>
              <a href="#2009"><div class="timeline-point"><span class="timeline-point-title">2009</span></div></a>
              <a href="#2010"><div class="timeline-point"><span class="timeline-point-title">2010</span></div></a>
              <a href="#2011"><div class="timeline-point"><span class="timeline-point-title">2011</span></div></a>
              <a href="#2013"><div class="timeline-point"><span class="timeline-point-title">2013</span></div></a>
              <a href="#2014"><div class="timeline-point"><span class="timeline-point-title">2014</span></div></a>
              <a href="#2015"><div class="timeline-point"><span class="timeline-point-title">2015</span></div></a>
              <a href="#2017"><div class="timeline-point"><span class="timeline-point-title">2017</span></div></a>
              <a href="#2018"><div class="timeline-point"><span class="timeline-point-title">2018</span></div></a>
              <a href="#2020"><div class="timeline-point"><span class="timeline-point-title">2020</span></div></a>
              <a href="#2021"><div class="timeline-point"><span class="timeline-point-title">2021</span></div></a>
            </div>
          </div>
        </section>
        <div class="">
          <ul>
            <li><div id="2008"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2008", alt: "CF lobby", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2008</strong></p><p>CF PharmTech was founded under Wuxi "530” Sponsorship Program</p></div>
            </div></li>
            <li><div id="2009"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2009", alt: "Scientist looking through microscope", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2009</strong></p><p>Received Jiangsu Provincial Innovation Award, and Science and Technology Leader Team Award</p></div>
            </div></li>
            <li><div id="2010"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2010", alt: "handshake", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2010</strong></p><p>Secured a A-series capital investment, signed strategic partnership deal with Beijing SL Pharmaceutical</p></div>
            </div></li>
            <li><div id="2011"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2011", alt: "People in CF", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2011</strong></p><p>Wholly-owned subsidiary-Jiangsu CF PharmTech was set up in Wuxi; Filed 5 patents in China</p></div>
            </div></li>
            <li><div id="2013"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2013", alt: "New CF lobby", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2013</strong></p><p>Secured a B-series capital investment, startup Suzhou CF PharmTech</p></div>
            </div></li>
            <li><div id="2014"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2014", alt: "CF Factory", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2014</strong></p><p>Completed the construction of Suzhou CF PharmTech</p></div>
            </div></li>
            <li><div id="2015"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2015", alt: "Production line", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2015</strong></p><p>Secured a C-series capital investment, established the nasal spray and DPI production line</p></div>
            </div></li>
            <li><div id="2017"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2017", alt: "CF team 1", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2017</strong></p><p>Secured a D-series capital investment of USD65 million</p></div>
            </div></li>
            <li><div id="2018"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2018", alt: "CF team 2", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2018</strong></p><p>Secured a E-series capital investment of USD94 million</p></div>
            </div></li>
            <li><div id="2020"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2020", alt: "CF team 3", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2020</strong></p><p>Secured a F-series capital investment of USD50 million</p></div>
            </div></li>
            <li><div id="2021"class="jump-anchor"></div><div class="list-section">
              <div class="timeline-card-image-area"><%= image_tag "company/2021", alt: "CF Product", class: "timeline-card-image"  %></div>
              <div class="timeline-card-content"><p class="text-large teal-text"><strong>2021</strong></p><p>Budesonide Suspension for Inhalation and Salbutamol Sulfate inhalation solution were approved for market.</p></div>
            </div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
