<!-- banner -->
<div class="homepage-banner-container">
  <div class="homepage-banner-bg"></div>
  <div class="homepage-banner home-banner-bg"></div>
  <div class="homepage-banner-text">
    <h2>Breathe Easier.<br>Live Better.</h2>
    <h3>CF PharmTech is an integrated specialty pharmaceutical company dedicated to providing high-quality respiratory drugs for the global market.</h3>
    <h3>Managed by a high-caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</h3>
  </div>
</div>
<!-- content -->
<div class="bg-light-color">
  <div class="content-card">
    <div class="card-image-area">
      <%= image_tag "home/what-we-do", alt: "alttext", class: "card-image" %>
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <p class="text-larger text-bold">What We Do</p>
        <p>CF PharmTech focuses on the development of products for respiratory treatment, including:</p>
        <ul class="bulleted-list">
          <li><%= link_to "Asthma", "#{therapeutic_areas_path}#Asthma" %></li>
          <li><%= link_to "COPD", "#{therapeutic_areas_path}#COPD" %></li>
          <li><%= link_to "Rhinitis", "#{therapeutic_areas_path}#Rhinitis" %></li>
          <li><%= link_to "Other Respiratory Diseases", "#{therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
        </ul>
        <div class="btn-area">
            <%= link_to "Read More", company_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
  <div class="content-card bg-home-rnd card-reverse">
    <div class="card-text-area w35">
      <div class="card-text">
        <p class="text-larger text-bold">R&D</p>
        <p>Based on global market needs, 20+ inhaled generic products are under development, and 5+ consumer healthcare products are available. </p>
        <div class="btn-area">
          <%= link_to "Read More", research_and_development_platform_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
    <div class="card-image-area w65">
      <div class="small-card-display">
        <div class="small-card-display-row">
          <%= link_to "#{dosage_forms_path}#MDI" do %>
            <div class="rnd-card rnd-mdi-card-bg">Metered Dose Inhaler (MDI)</div>
          <% end %>
          <%= link_to "#{dosage_forms_path}#DPI" do %>
            <div class="rnd-card rnd-dpi-card-bg">Dry Powder Inhaler (DPI)</div>
          <% end %>
        </div>
        <div class="small-card-display-row">
          <%= link_to "#{dosage_forms_path}#Nebulizer" do %>
            <div class="rnd-card rnd-nebulizer-card-bg">Nebulizer</div>
          <% end %>
          <%= link_to "#{dosage_forms_path}#Nasal-Spray" do %>
            <div class="rnd-card rnd-nasal-spray-card-bg">Nasal Spray</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-products content-card ta-center flex-wrap justify-content-center align-items-center">
    <div class="home-products-text-area">
      <%= link_to "Our Products", products_path, class: "text-larger text-bold" %>
      <p>CF PharmTech focuses on the development of inhaled products for generic products and new drug products, as well as professional and practical medical care products for consumers.</p>
    </div>
    <div class="products-container">
      <%= link_to products_path, :class=>"home-product-card bg-light-green" do %>
        <p class="text-large text-bold ta-left">Pharmaceutical <br> Products</p>
        <div class="btn-hollow-white home-product-card-btn">Read More</div>
      <% end %>
      <%= link_to consumer_products_path, :class=>"home-product-card bg-light-blue" do %>
        <p class="text-large text-bold ta-left">Consumer <br> Products</p>
        <div class="btn-hollow-white home-product-card-btn">Read More</div>
      <% end %>
    </div>
  </div>
  <div class="content-card">
    <div class="card-image-area">
      <%= image_tag "home/partnership", alt: "alttext", class: "card-image" %>
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <p class="text-larger text-bold">Partnership</p>
        <p>CF PharmTech has been building partnerships to develop innovative technologies and novel inhaled products with new chemical entities (NCEs) for the global market. In addition to codevelopment, we also provide development solutions and services to our partners to support your technology and product development programs.</p>
        <div class="btn-area">
          <%= link_to "Read More", partnership_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
</div>
