<!-- banner -->
<div class="homepage-banner-container">
  <div class="homepage-banner-bg"></div>
  <div class="homepage-banner home-banner-bg"></div>
  <div class="homepage-banner-text">
    <h2>Breathe Easier.<br>Live Better.</h2>
    <h3>CF PharmTech is an integrated specialty pharmaceutical company dedicated to providing high-quality respiratory drugs for the global market.</h3>
    <h3>Managed by a high-caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</h3>
  </div>
</div>
<!-- content -->
<div class="bg-light-color">
  <div class="content-card">
    <div class="card-image-area">
      <%= image_tag "home/what-we-do", alt: "alttext", class: "card-image" %>
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <p class="text-larger text-bold">What We Do</p>
        <p>CF PharmTech focuses on the development of products for respiratory treatment, including:</p>
        <ul class="bulleted-list">
          <li><%= link_to "Asthma", "#{therapeutic_areas_path}#Asthma" %></li>
          <li><%= link_to "COPD", "#{therapeutic_areas_path}#COPD" %></li>
          <li><%= link_to "Rhinitis", "#{therapeutic_areas_path}#Rhinitis" %></li>
          <li><%= link_to "Other Respiratory Diseases", "#{therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
        </ul>
        <div class="btn-area">
            <%= link_to "Read More", company_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
  <div class="content-card bg-home-rnd card-reverse">
    <div class="card-text-area w35">
      <div class="card-text">
        <p class="text-larger text-bold">R&D</p>
        <p>Based on global market needs, 20+ inhaled generic products are under development, and 5+ consumer healthcare products are available. </p>
        <div class="btn-area">
          <%= link_to "Read More", research_and_development_platform_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
    <div class="card-image-area w65">
      <div class="small-card-display">
        <div class="small-card-display-row">
          <%= link_to "#{dosage_forms_path}#MDI" do %>
            <div class="rnd-card rnd-mdi-card-bg">Metered Dose Inhaler (MDI)</div>
          <% end %>
          <%= link_to "#{dosage_forms_path}#DPI" do %>
            <div class="rnd-card rnd-dpi-card-bg">Dry Powder Inhaler (DPI)</div>
          <% end %>
        </div>
        <div class="small-card-display-row">
          <%= link_to "#{dosage_forms_path}#Nebulizer" do %>
            <div class="rnd-card rnd-nebulizer-card-bg">Nebulizer</div>
          <% end %>
          <%= link_to "#{dosage_forms_path}#Nasal-Spray" do %>
            <div class="rnd-card rnd-nasal-spray-card-bg">Nasal Spray</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-products content-card ta-center flex-wrap justify-content-center align-items-center">
    <div class="home-products-text-area">
      <p class="text-larger text-bold">Our Products</p>
      <p>CF PharmTech focuses on the development of inhaled products for generic products and new drug products, as well as professional and practical medical care products for consumers.</p>
    </div>
    <div class="btn-area btn-block">
        <%= link_to "Read More", products_path, class: "btn btn-flat" %>
    </div>
    <div class="w100 tab-container">
      <div class="products-container">
        <p id="pharma-tab-title" class="product-tab-title ta-left mar-lr-rem1 text-bold active-product-tab">Pharmaceutical<br>Products</p>
        <p id="chc-tab-title" class="product-tab-title ta-left mar-lr-rem1 text-bold">Consumer Healthcare<br>Products</p>
      </div>
      <div id="product-tab-content" class="tab-product-content">
        <div class="active-product-image-section tab-carousel">
          <% @consumer_products.each do |e| %>
          <div class="tab-card-product">
            <%= image_tag "#{e.imgurl}", alt: "product picture" %>
            <div class="card-product-overlay">
              <h2><%= "#{e.product_family} #{e.product_name}" %></h2>
              <div class="btn-area">
                <%= link_to product_path(e) do %>
                  <div class="btn-flat btn-product">See More Pharma</div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="btn-area btn-block">
            <%= link_to "See More", generic_drug_products_path, class: "btn btn-flat" %>
          </div>      
        </div>
        <div class="tab-carousel">
          <% @consumer_products.each do |e| %>
          <div class="tab-card-product">
            <%= image_tag "#{e.imgurl}", alt: "product picture" %>
            <div class="card-product-overlay">
              <h2><%= "#{e.product_family} #{e.product_name}" %></h2>
              <div class="btn-area">
                <%= link_to product_path(e) do %>
                  <div class="btn-flat btn-product">See More Consumer Healthcare</div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="btn-area btn-block">
            <%= link_to "See More", consumer_products_path, class: "btn btn-flat" %>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div class="card-image-area">
      <%= image_tag "home/partnership", alt: "alttext", class: "card-image" %>
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <p class="text-larger text-bold">Partnership</p>
        <p>CF PharmTech has been building partnerships to develop innovative technologies and novel inhaled products with new chemical entities (NCEs) for the global market. In addition to codevelopment, we also provide development solutions and services to our partners to support your technology and product development programs.</p>
        <div class="btn-area">
          <%= link_to "Read More", partnership_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
</div>
