<!-- banner -->
<div class="homepage-banner" style="background: url('assets/home/home-banner') no-repeat 50% 50%; background-size: cover;">
  <div class="banner-text">
    <h1 class="banner-title">CF Pharmtech</h1>
    <h2 class="banner-subtitle">Breathe easier, live better</h2>
  </div>
</div>
<!-- content -->
<div class="">
  <div class="">
    <div class="color-block bg-grey-green">
      <div class="color-block-text">
        <p><strong>CF PharmTech</strong> is an integrated specialty pharmaceutical company dedicated to providing high-quality respiratory drugs for the global market. Managed by a high-caliber team with extensive experience in the industry, the company focuses on the development of drugs for the treatment of respiratory diseases in its state-of-the-art facilities.</p>
        <div class="btn-area">
          <%= link_to "Read More", about_us_path, class: "btn btn-flat" %>
        </div>
      </div>
      <!-- <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598850977/CF%20Website/Home%20page/Home_page_no_copyright4_i8sc01.jpg" alt="">
      </div> -->
    </div>
    <div class="content-card">
      <div class="card-img-area">
        <%= image_tag "home/inhalation-product-technology", alt: "alttext", class: "card-img-narrow" %>
      </div>
      <div class="card-text-area">
        <div class="card-text-narrow">
          <p><strong>CF PharmTech</strong> focuses on the development of products for respiratory treatment, including:</p>
          <ul class="bulleted-list">
            <li><%= link_to "Asthma", "#{therapeutic_areas_path}#Asthma" %></li>
            <li><%= link_to "COPD", "#{therapeutic_areas_path}#COPD" %></li>
            <li><%= link_to "Rhinitis", "#{therapeutic_areas_path}#Rhinitis" %></li>
            <li><%= link_to "Other Respiratory Diseases", "#{therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
          </ul>
          <div class="btn-area">
              <%= link_to "Read More", research_and_development_platform_path, class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>
    <div class="content-card bg-blue">
      <div class="card-text-area">
        <div class="card-text-narrow">
          <p>Based on the global market needs, 20+ inhaled generic products are under development, and 5+ consumer healthcare products are available. </p>
          <div class="btn-area">
            <%= link_to "Read More", products_path, class: "btn btn-flat" %>
          </div>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "home/generics", alt: "alttext", class: "card-img-narrow" %>
      </div>
    </div>
    <div class="content-card">
      <div class="card-img-area">
        <img class="card-img-narrow" src="https://res.cloudinary.com/tichel/image/upload/v1598850973/CF%20Website/Home%20page/Home_page_no_copyright2_g165lc.jpg" alt="">
      </div>
      <div class="card-text-area">
        <div class="card-text-narrow">
          <p><strong>CF PharmTech</strong> has been building partnerships to develop innovative technologies and novel inhaled products with new chemical entities (NCEs) for the global market. In addition to codevelopment, we also provide development solutions and services to our partners to support your technology and product development programs.</p>
          <div class="btn-area">
            <%= link_to "Read More", work_with_us_path, class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>
    <div class="small-container bg-grey-green margin-top">
      <div class="small-card-container">
        <h2>Find Out More</h2>
      </div>
     <div class="small-card-container">
      <%= link_to careers_path do %>
        <div class="small-card">
          <img src="https://res.cloudinary.com/tichel/image/upload/v1598850971/CF%20Website/Home%20page/Home_page_CF_building_drfmbh.jpg" alt="">
          <div class="small-card-text white-text">
            <h4>Careers</h4>
          </div>
        </div>
      <% end %>
      <div class="small-card">
        <img src="https://res.cloudinary.com/tichel/image/upload/v1597397247/gary-scott-nkCA4va-6k0-unsplash_szlu4i.jpg" alt="">
        <div class="small-card-text white-text">
          <h4>News</h4>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
