<div class="info-banner news-banner-bg">
  <div class="info-banner-title info-title">
    <h1>新闻动态</h1>
  </div>
</div>
<div class="bg-light-color pr of-hidden">
	<%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
	<div class="container pr">
		<h2 class="teal-text pad-t-rem2">
			新闻动态
		</h2>
		<div class="news-card-container pad-t-rem2">
			<!-- News Card -->
			<div class="news-card">			
				<div class="news-card-date teal-text">
					<p>2022-11-17</p>
				</div>
				<div class="news-card-title">
					<%= link_to "长风药业荣获2022年“大苏州最佳雇主”", article_2022_11_17_path %>
				</div>
			</div>
			<!-- News Card -->
			<div class="news-card">			
				<div class="news-card-date teal-text">
					<p>2022-11-07</p>
				</div>
				<div class="news-card-title">
					<%= link_to "长风药业自主研制开发的重磅产品舒霏敏®在国内首个获批上市", article_2022_11_07_path %>
				</div>
			</div>
			<!-- News Card -->
			<div class="news-card">			
				<div class="news-card-date teal-text">
					<p>2022-07-25</p>
				</div>
				<div class="news-card-title">
					<%= link_to "长风药业股份有限公司关于接受上市辅导的公告", article_7_25_22_path %>
				</div>
			</div>
			<!-- News Card -->
			<div class="news-card">			
				<div class="news-card-date teal-text">
					<p>2020-07-03</p>
				</div>
				<div class="news-card-title">
					<%= link_to "长风药业再次完成F轮3.6亿元股权交易，助力国内高端制剂快速发展。", article_path %>
				</div>
			</div>
		</div>
	</div>
</div>
