<!-- Info banner-->
<div class="info-banner partnership-banner-bg">
  <div class="info-banner-title info-title-right">
    <h1>Partnership</h1>
  </div>
</div>
<div class="">
  <div class="bg-light-color pr h-100vh">
    <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
    <div id="Collaborations" class="pr">
      <div class="floating-block-container pr">
        <%= image_tag "partnership/collaboration", alt: "alttext", class: "collaboration-image" %>
        <div class="floating-block bg-teal">
          <h4 class="text-larger text-bold">Collaborations</h4>
          <p>In addition to our generic product development teams, we have dedicated experts and advanced inhaled product development capability to support your New Drug Product Development programs, including New Chemical Entities or New Devices, from the early stages, to manufacturing, and all of the way to market. </p>
          <p>We welcome many forms of collaborations, from coinvestment, codevelopment, or CDMO <%= link_to "services", services_path %>. </p>
          <p>If you are interested in partnering with us, feel free to <strong><%= link_to "contact us", contact_us_path %></strong>.<br>(info@cfpharmtech.com)</p>
        </div>
      </div>
    </div>
    <!-- Table -->
    <div id="Services" class="content-card bg-white">
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold ta-center">Service Scope</h4>
          <div class="fw-display">
            <div class="fw-display-card">
              <%= image_tag "partnership/cro", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>CRO service</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>feasibility analysis</li>
                  <li>prescription development</li>
                  <li>analytical method development</li>
                  <li>package materials/device selection</li>
                  <li>process development</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <%= image_tag "partnership/cmo", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>CMO service</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>preclinical batch</li>
                  <li>validation batch</li>
                  <li>clinical batch</li>
                  <li>commerical batch</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <%= image_tag "partnership/other-services", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>Other services</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>prescription analysis</li>
                  <li>animal experiments</li>
                  <li>IVT</li>
                  <li>compatibility testing</li>
                  <li>stability testing</li>
                  <li>application and registration</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
