<!-- Info banner-->
<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>Partnership</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div id="Collaborations" class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">Collaborations</h4>
          <p>In addition to our generic product development teams, we have dedicated experts and advanced inhaled product development capability to support your New Drug Product Development programs, including New Chemical Entities or New Devices, from the early stages, to manufacturing, and all of the way to market. </p>
          <p>We welcome many forms of collaborations, from coinvestment, codevelopment, or CDMO <%= link_to "services", services_path %>. </p>
          <p>If you are interested in partnering with us, feel free to <strong><%= link_to "contact us", contact_us_path %></strong>.<br>(info@cfpharmtech.com)</p>
        </div>
        <!-- <div class="fw-display-card-footer">
          <p>1. Project leaders with years of experience in both the global and Chinese market.</p>
          <p>2. Comprehensive GMP facility that is capable of manufacturing all forms of inhalation drug and meet GMP requirements.</p>
          <p>3. Competitive price and high standards that provide significant cost saving and high quality.</p>
        </div> -->
      </div>
      <div class="card-image-area">
        <%= image_tag "partnership/collaboration", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div class="card-narrow bg-trans-white-green">
      <div class="d-flex mb-2 px-4 flex-wrap align-items-center">
        <%= image_tag "partnership/doodles", alt: "alttext", class: "doodles" %>
        <%= image_tag "partnership/work-with-us", alt: "alttext" %>

      </div>
    </div>
    <!-- Table -->
    <div id="Services" class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold ta-center">Service Scope</h4>
          <div class="fw-display">
            <div class="fw-display-card">
              <%= image_tag "partnership/cro", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>CRO service</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>feasibility analysis</li>
                  <li>prescription development</li>
                  <li>analytical method development</li>
                  <li>package materials/device selection</li>
                  <li>process development</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <%= image_tag "partnership/cmo", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>CMO service</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>preclinical batch</li>
                  <li>validation batch</li>
                  <li>clinical batch</li>
                  <li>commerical batch</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <%= image_tag "partnership/other-services", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>Other services</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>prescription analysis</li>
                  <li>animal experiments</li>
                  <li>IVT</li>
                  <li>compatibility testing</li>
                  <li>stability testing</li>
                  <li>application and registration</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
