<!-- Info Banner -->
<div class="info-banner products-banner-bg">
  <div class="info-banner-title info-title">
    <h1>Products</h1>
  </div>
</div>
<div class="">
  <div class="">
    <div id="Pharmaceutical-Products" class="jump-anchor"></div>
    <div class="content-card card-reverse pr bg-light-color">
      <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
      <div class="card-image-area w65">
        <%= image_tag "products/pharmaceutical-products", alt: "alttext", class: "card-image-large w80" %>
      </div>
      <div class="card-text-area w35 pad-l-0 pr z1">
        <div class="card-text">
          <p class="text-large teal-text text-bold">Pharmaceutical Products</p>
          <p class="mar-bot-0">CF PharmTech focuses on the development of inhaled products for generic products and new drug products, include dosage forms:</p>
          <ul class="bulleted-list mar-bot-0">
            <li><%= link_to "MDI", "#{dosage_forms_path}#MDI" %></li>
            <li><%= link_to "Nasal Spray", "#{dosage_forms_path}#Nasal-Spray" %></li>
            <li><%= link_to "Nebulizer", "#{dosage_forms_path}#Nebulizer" %></li>
            <li><%= link_to "Dry Powder Inhaler", "#{dosage_forms_path}#DPI" %></li>
          </ul>
          <p>Several generic drug products developed by CF PharmTech mainly have been filed in China.</p>
          <p>New drug development, including New Chemical Entity (NCE), new device technology, new fixed combination products.</p>
          <p><%= link_to "Read More", generic_drug_products_path, class: "btn-flat" %></p>
        </div>
      </div>
    </div>
    <div id="Consumer-Products" class="content-card">
      <div class="card-image-area w65">
        <%= image_tag "products/consumer-products", alt: "alttext", class: "card-image-large w80" %>
      </div>
      <div class="card-text-area w35 pad-l-0">
        <div class="card-text">
          <h4 class="text-large teal-text text-bold">Consumer Healthcare</h4>
          <p>CF PharmTech can provide professional and practical medical care products for consumers.</p>
          <p>The AuroAir family <sup>TM</sup>, our medical care brand, has a full range of products, which can fully meet the market demand.</p>
          <p><%= link_to "Read More", consumer_products_path, class: "btn-flat" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
