<!-- Info Banner -->
<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>Products</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card card-reverse">
      <div class="card-text-area">
        <div class="card-text">
          <p class="text-larger text-bold">Pharmaceutical Products</p>
          <p>CF PharmTech focuses on the development of inhaled products for generic products and new drug products, include dosage forms:</p>
          <ul class="bulleted-list">
            <li><%= link_to "MDI", "#{dosage_forms_path}#MDI" %></li>
            <li><%= link_to "Nasal Spray", "#{dosage_forms_path}#Nasal-Spray" %></li>
            <li><%= link_to "Nebulizer", "#{dosage_forms_path}#Nebulizer" %></li>
            <li><%= link_to "Dry Powder Inhaler", "#{dosage_forms_path}#DPI" %></li>
          </ul>
          <p>Several generic drug products developed by CF PharmTech mainly have been filed in China.</p>
          <p>New drug development, including New Chemical Entity (NCE), new device technology, new fixed combination products.</p>
          <p><%= link_to "Read More", generic_drug_products_path, class: "btn-flat" %></p>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "products/pharmaceutical-products", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area">
        <%= image_tag "products/consumer-products", alt: "alttext", class: "card-image" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">Consumer Healthcare</h4>
          <p>CF PharmTech can provide professional and practical medical care products for consumers.</p>
          <p>The AuroAir family <sup>TM</sup>, our medical care brand, has a full range of products, which can fully meet the market demand.</p>
          <p><%= link_to "Read More", consumer_products_path, class: "btn-flat" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
