<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1603423318/CF%20Website/RandD%20Platform/stock-photo-in-a-secure-high-level-laboratory-scientists-in-a-coverall-conducting-a-research-chemist-adjusts-684989614_alwlpn.jpg);">
  <div class="info-banner-title-blue">
    <h1>R&D Platform</h1>
  </div>
</div>
<div class="container bg-white">
  <div class="content-card">
    <div class="card-text-area">
      <div class="card-text">
        <h4>R&D Team</h4>
        <p>CF PharmTech R&D team is made up of scientists with successful experience in the research and development of inhaled drugs and many experienced senior research and development personnel. Relying on the international and domestic top academic and regulatory exchanges and technical cooperation, our R&D team has the professional knowledge and skills, capable of carrying out a full range of respiratory system drug delivery technology research and development work, to provide high-quality inhaled products for the global market.</p>
      </div>
    </div>
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851201/CF%20Website/RandD%20Platform/RandD_Platform_Nebulizer_nqkouk.jpg" alt="">
    </div>
  </div>
  <div class="content-card">
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851197/CF%20Website/RandD%20Platform/RandD_Platform_MDI_fqnioh.jpg" alt="">
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <h4>Therapeutic Areas</h4>
        <p>CF PharmTech focuses on the development of products in the field of respiratory system treatment, which are mainly used to treat:</p>
        <ul class="bulleted-list">
          <li>Asthma <%= link_to "Read More", "#{therapeutic_areas_path}#Asthma" %></li>
          <li>COPD <%= link_to "Read More", "#{therapeutic_areas_path}#COPD" %></li>
          <li>Rhinitis <%= link_to "Read More", "#{therapeutic_areas_path}#Rhinitis" %></li>
          <li>Other Respiratory Diseases <%= link_to "Read More", "#{therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div class="card-text-area">
      <div class="card-text">
        <h4>Dosage Forms in Research</h4>
        <p>CF PharmTech has a complete research and development platform of dosage forms, currently there are four basic forms in research:</p>
        <ul class="bulleted-list">
          <li>Metered Dose Inhaler (MDI), <%= link_to "Read More", "#{dosage_forms_path}#MDI" %></li>
          <li>Dry Powder Inhaler (DPI), <%= link_to "Read More", "#{dosage_forms_path}#DPI" %></li>
          <li>Nebulizer <%= link_to "Read More", "#{dosage_forms_path}#Nebulizer" %></li>
          <li>Nasal Spray <%= link_to "Read More", "#{dosage_forms_path}#Nasal-Spray" %></li>
          <li>Soft Mist Inhaler (SMI) <%= link_to "Read More", "#{dosage_forms_path}#SMI" %></li>
        </ul>
      </div>
    </div>
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851192/CF%20Website/RandD%20Platform/RandD_Platform_DPI_mmfoni.png" alt="">
    </div>
  </div>
  <div class="content-card">
    <div class="card-img-area">
      <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1598851199/CF%20Website/RandD%20Platform/RandD_Platform_Nasal_Spray_uzk2g9.jpg" alt="">
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <h4>Advanced Facilities</h4>
        <p>CF PharmTech has various testing equipment and advanced filling production line facilities that meet FDA requirements of inhaled drugs. <%= link_to "Read More", advanced_facilities_path %></p>
      </div>
    </div>
  </div>
</div>
