<div class="info-banner" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1603423318/CF%20Website/RandD%20Platform/stock-photo-in-a-secure-high-level-laboratory-scientists-in-a-coverall-conducting-a-research-chemist-adjusts-684989614_alwlpn.jpg);">
  <div class="info-banner-title-blue">
    <h1>R&D</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>R&D Team</h4>
          <p>CF PharmTech R&D team is made up of scientists with successful experience in the research and development of inhaled drugs and many experienced senior research and development personnel. Relying on the international and domestic top academic and regulatory exchanges and technical cooperation, our R&D team has the professional knowledge and skills, capable of carrying out a full range of respiratory system drug delivery technology research and development work, to provide high-quality inhaled products for the global market.</p>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg" alt="">
      </div>
    </div>
    <div class="content-card">
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg" alt="">
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4>Therapeutic Areas</h4>
          <p>CF PharmTech focuses on the development of nasal and pulmonary delivery technology for respiratory disease treatments, including:</p>
          <ul class="bulleted-list">
            <li><%= link_to "Asthma", "#{therapeutic_areas_path}#Asthma" %></li>
            <li><%= link_to "COPD", "#{therapeutic_areas_path}#COPD" %></li>
            <li><%= link_to "Rhinitis", "#{therapeutic_areas_path}#Rhinitis" %></li>
            <li><%= link_to "Other Respiratory Diseases", "#{therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>Dosage Forms</h4>
          <p>CF PharmTech has a complete R&D platforms and manufacturing capabilities for the following dosage forms:</p>
          <ul class="bulleted-list">
            <li><%= link_to "Metered Dose Inhaler (MDI)", "#{dosage_forms_path}#MDI" %></li>
            <li><%= link_to "Dry Powder Inhaler (DPI)", "#{dosage_forms_path}#DPI" %></li>
            <li><%= link_to "Nebulizer", "#{dosage_forms_path}#Nebulizer" %></li>
            <li><%= link_to "Nasal Spray", "#{dosage_forms_path}#Nasal-Spray" %></li>
            <li><%= link_to "Soft Mist Inhaler (SMI)", "#{dosage_forms_path}#SMI" %></li>
          </ul>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg" alt="">
      </div>
    </div>
    <div class="content-card">
      <div class="card-img-area">
        <img class="card-img" src="https://res.cloudinary.com/tichel/image/upload/v1602492410/CF%20Website/Original%20Pictures/QQ%E5%9B%BE%E7%89%8720171129113247_vl92sb.jpg" alt="">
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4>Quality System</h4>
          <p>Our quality team will ensure that all R&D activities are compliant with relevant regulations in China, USA, and Europe.</p>
          <ul class="bulleted-list">
            <li>Analytical method development and validation</li>
            <li>Establish specifications</li>
            <li>Manage the quality of suppliers of raw materials and packaging materials</li>
            <li>Successfully pass inspections conducted by authorities and customer audits to ensure all documents ready for Regulatory Submissions</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
