<div class="info-banner research-and-development-banner-bg">
  <div class="info-banner-title info-title">
    <h1>R&D</h1>
  </div>
</div>
<div class="">
  <div class="bg-light-color pr of-hidden">
    <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
    <div class="content-card card-reverse pr">
      <div class="card-image-area">
        <%= image_tag "research-and-development/r-and-d-team", alt: "alttext", class: "card-image w100" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">R&D Team</h4>
          <p>CF PharmTech R&D team consists of experienced senior research and development personnel and scientists with extensive experience in the research and development of inhalation drug products. Our R&D team has the professional knowledge and skills, capable of carrying out a full range of inhalation products technology research and development work. The goals of this experienced, cross-functional professional team are to develop the high quality inhalation drug products for global market and CF PharmTech’s new inhalation technology platform to achieve unmet medical needs.</p>
          <p>Most of the CF PharmTech’s products are developed by internal research team but additional collaboration with subject matter experts in the field of inhalation products from academia and drug regulatory authorities supporting us to achieve company’s business goals.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-offwhite">
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/therapeutic-areas", alt: "alttext", class: "card-image w65" %>
      </div>
      <div class="card-text-area w65">
        <div class="card-text">
          <h4 class="text-larger text-bold teal-text">R&D Focus Areas</h4>
          <p>With our distinctive knowledge of people, we focus on the areas of respiratory health care.</p>
          <ul class="bulleted-list text-large">
            <li><%= link_to "Asthma", "#{therapeutic_areas_path}#Asthma", class: "teal-text" %></li>
            <li><%= link_to "COPD", "#{therapeutic_areas_path}#COPD", class: "teal-text" %></li>
            <li><%= link_to "Rhinitis", "#{therapeutic_areas_path}#Rhinitis", class: "teal-text" %></li>
            <li><%= link_to "Other Respiratory Diseases", "#{therapeutic_areas_path}#Other-Respiratory-Diseases", class: "teal-text" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/dosage-forms", alt: "alttext", class: "card-image w65" %>
      </div>
      <div class="card-text-area w65">
        <div class="card-text">
          <h4 class="text-larger text-bold teal-text">Dosage Forms</h4>
          <p>The Pharmaceuticals product portfolio focuses on 4 dosage forms as follows:</p>
          <ul class="bulleted-list text-large">
            <li><%= link_to "Metered Dose Inhaler (MDI)", "#{dosage_forms_path}#MDI", class: "teal-text" %></li>
            <li><%= link_to "Dry Powder Inhaler (DPI)", "#{dosage_forms_path}#DPI", class: "teal-text" %></li>
            <li><%= link_to "Nebulizer", "#{dosage_forms_path}#Nebulizer", class: "teal-text" %></li>
            <li><%= link_to "Nasal Spray", "#{dosage_forms_path}#Nasal-Spray", class: "teal-text" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area w35">
        <%= image_tag "research-and-development/quality-system", alt: "alttext", class: "card-image w65" %>
      </div>
      <div class="card-text-area w65">
        <div class="card-text">
          <h4 class="text-larger text-bold teal-text">Quality System</h4>
          <p>CF PharmTech is dedicated to improving respiratory health by providing high-quality, safe and effective products for global market and ensuring compliance through a quality system that promises quality and continuous effectiveness to meet customer and regulatory requirements.</p>
          <%= link_to "Read More", research_and_development_quality_system_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
</div>
