<div class="footer">
  <div class="footer-list-container">
    <div>
      <ul>
        <li><%= link_to "主页", zh_path %></li>
        <li><%= link_to "产品", zh_products_path %></li>
        <li><%= link_to "合作", zh_partnership_path %></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><%= link_to "研发平台", zh_research_and_development_platform_path %></li>
        <li><%= link_to "公司介绍", zh_company_path %></li>
        <li><%= link_to "职业发展", zh_careers_path %></li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <%= link_to "联系我们", zh_contact_us_path %>
        </li>
      </ul>
    </div>
  </div>
  <p>ICP Beian</p>
</div>
