<div class="footer pr z0">
  <div class="footer-container">
    <div class="footer-list-container">
      <div class="cell-a">
        <ul>
          <li><%= link_to "主页", zh_path %></li>
          <li><%= link_to "产品", zh_products_path %></li>
          <li><%= link_to "合作", zh_partnership_path %></li>
        </ul>
      </div>
      <div class="cell-b">
        <ul>
          <li><%= link_to "研发平台", zh_research_and_development_platform_path %></li>
          <li><%= link_to "公司介绍", zh_company_path %></li>
        </ul>
      </div>
      <div class="cell-c">
        <ul>
          <li><%= link_to "职业发展", zh_careers_path %></li>
          <li><%= link_to "联系我们", zh_contact_us_path %></li>
        </ul>
      </div>
    </div>
    <hr>
    <%= link_to (image_tag "cf-logo.svg", class: "navigationbar-logo"), root_path %>
  </div>
</div>
