<div class="info-banner career-banner-bg">
  <div class="info-banner-title-blue">
    <h1>职业发展</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div id="life-at-cf" class="jump-anchor"></div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>加入长风</h4>
          <p>长风药业是一家充满活力、高速发展的公司，拥有一支经验丰富的国际团队，致力于在全球范围内提供吸入制剂产品。公司总部设在中国，在美国有分公司。我们鼓励公司各级员工全方位多样性的发展，同时相信个人的成功取决于态度、行为和表现，并致力于为员工提供职业发展机会。</p>
          <p>在长风工作，你不仅能够有机会充分展示才华，实现你的个人价值，还可以结交朋友，与团队一起成长。</p>
        </div>
      </div>
      <div class="card-img-area">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag("career/life-at-cf-1", class: "slide-pic d-block") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("career/life-at-cf-2", class: "slide-pic d-block") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("career/life-at-cf-3", class: "slide-pic d-block") %>
            </div>
            <div class="carousel-item">
              <%= image_tag("career/life-at-cf-4", class: "slide-pic d-block") %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="content-card margin-top margin-bot">
      <div class="card-text-area color-block bg-grey-green">
        <div class="card-text">
          <h4>遇见我们</h4>
          <div class="triple-card-container">
            <div class="triple-card meet-us-jean-marc">
              <h5>Jean Marc 博士寄语</h5>
<!--           <p>哮喘和慢性阻塞性肺病是影响人类健康的最常见的呼吸道疾病。</p>
          <p>在呼吸系统药物研发领域工作了大约20年后，我了解到这些疾病带来的痛苦。所以，当我被邀请到专注于开发吸入制剂产品的长风药业工作时，我感到非常兴奋。</p>
          <p>在长风，你可以感受到一个新成立的公司的精神和潜力。一步一步，从一个只有几名员工的实验室，发展到拥有自己的工厂，四条先进生产线的综合性企业。在这里工作，我感到非常自豪。</p>
          <p>“长风药业专注于员工能力的培养，并致力于支持和推动他们成为最好的自己。” 如果你想从事吸入制剂领域方面的工作，欢迎加入我们！</p> -->
            <p><%= link_to "Read More", '#', class: "btn-flat bottom-right-btn" %></p>
          </div>
          <div class="triple-card" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1598850758/CF%20Website/About%20Us/no_copyright5_wdb75n.jpg);">
              <h5>Employee 2</h5>
              <p><%= link_to "Read More", '#', class: "btn-flat bottom-right-btn" %></p>
            </div>
            <div class="triple-card" style="background-image: url(https://res.cloudinary.com/tichel/image/upload/v1598850758/CF%20Website/About%20Us/no_copyright5_wdb75n.jpg);">
              <h5>Employee 3</h5>
              <p><%= link_to "Read More", '#', class: "btn-flat bottom-right-btn" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="opportunities" class="jump-anchor"></div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>成长机会</h4>
          <p>我们致力于为每一位员工创造一个专业、友好的工作环境，让他们有自我成长的机会，并为公司的发展做出贡献。我们欢迎你的加入。如果您有兴趣加入长风团队，请将您的联系方式或简历投递至 hr@cfpharmtech.com 或点击下方链接。<%= link_to "Contact Us", zh_contact_us_path %></p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "career/opportunity", alt: "alttext", class: "card-img" %>
      </div>
    </div>
  </div>
</div>
