<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>鼻腔护理产品</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <p> 鼻腔喷雾器可用于鼻炎护理、日常护理、缓解鼻塞、重构鼻腔环境。</p>
    <div>
      <div class="dropdown show">
        <div class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          选择一个产品
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item">Choose a product</a>
          <% @consumer_products.each do |e| %>
            <a class="dropdown-item" href=<%= "products/#{e.id}" %>><%= "#{e.zh_product_name}" %></a>
          <% end %>
        </div>
      </div>
    </div>
    <% @consumer_products.each do |e| %>
        <div class="card-product">
          <img src=<%= e.imgurl %> />
          <div class="card-product-infos">
            <h2><%= "#{e.zh_product_name}" %></h2>
            <p><%= e.zh_short_description %></p>
            <div class="btn-area">
              <%= link_to zh_product_path(e) do %>
                <div class="btn-flat btn-product">更多</div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
