<!-- meta info -->
<% content_for :meta_data do %> 
  <meta name='description' content='长风药业股份有限公司官网' />
  <meta name="website-name" content="长风药业官网">
  <meta name="compny-name" content="长风药业">
<% end %>
<!-- banner -->
<div class="homepage-banner-container">
  <div class="homepage-banner-bg"></div>
  <div class="homepage-banner home-banner-bg"></div>
  <div class="homepage-banner-text">
    <h2>关注呼吸&nbsp;&nbsp;关爱生命</h2>
    <h3>长风药业是一家致力于为全球市场提供<br><strong>高品质吸入类药物的综合性专业制药公司。</strong></h3>
    <h4 class="text-small">拥有丰富的行业经验，高素质的管理团队以及先进的设备，致力于开发治疗呼吸系统疾病的药物。</h4>
    <div class="btn-area">
        <%= link_to "更多", zh_company_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
<!-- content -->
<div class="zh-text">
  <div class="content-card">
    <div class="card-image-area">
      <%= image_tag "home/what-we-do", alt: "alttext", class: "card-image" %>
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <p class="text-larger text-bold">治疗领域</p>
        <p>长风药业专注于呼吸系统治疗领域产品的开发</p>
        <ul class="bulleted-list">
          <li><%= link_to "哮喘", "#{zh_therapeutic_areas_path}#Asthma" %></li>
          <li><%= link_to "COPD", "#{zh_therapeutic_areas_path}#COPD" %></li>
          <li><%= link_to "鼻炎", "#{zh_therapeutic_areas_path}#Rhinitis" %></li>
          <li><%= link_to "其他呼吸系统疾病", "#{zh_therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-card bg-home-rnd card-reverse">
    <div class="card-text-area w35">
      <div class="card-text">
        <p class="text-larger text-bold">研发平台</p>
        <p>根据全球市场需求，长风有20多个吸入仿制药正在开发中还有多个护理产品可供消费者选择。</p>
        <div class="btn-area">
          <%= link_to "更多", zh_research_and_development_platform_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
    <div class="card-image-area w65">
      <div class="small-card-display">
        <div class="small-card-display-row">
          <!-- inline svg mdi-outline -->
          <%= link_to "#{zh_dosage_forms_path}#MDI" do %>
            <div class="rnd-card rnd-mdi-card-bg"><div class="small-card-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.39 65.56"><g id="Layer_2" data-name="Layer 2"><g id="图层_1" data-name="图层 1"><path class="cls-1" d="M7.38,65.21a11.25,11.25,0,0,1-1.63-.81,3.41,3.41,0,0,1-1.38-2.66q-.58-7-1.18-14T2,33.6Q1.38,26.54.79,19.47C.65,17.83.5,16.19.37,14.55a4.25,4.25,0,0,1,0-1.13,1.82,1.82,0,0,1,2.34-1.51l.58.17c-.05-.62-.09-1.2-.13-1.77-.14-1.6-.26-3.2-.43-4.79A3.36,3.36,0,0,1,6,1.51Q12.7.91,19.42.37a3.25,3.25,0,0,1,3.68,3c.32,3.32.58,6.65.87,10,.37,4.25.72,8.49,1.11,12.74a1.57,1.57,0,0,0,.41.87,6.55,6.55,0,0,1,1.77,4c.41,4.71.85,9.42,1.27,14.13,0,.06,0,.12.07.26H44a3.23,3.23,0,0,1,3.6,3.48l0,.42h6.75A3.35,3.35,0,0,1,58,52.91v4.75a3.34,3.34,0,0,1-3.63,3.63H47.6c0,.22,0,.39-.05.55a3.28,3.28,0,0,1-2.5,3.25,2.52,2.52,0,0,0-.29.12Zm-4.84-51c0,.46,0,.77.07,1.08.27,3.28.56,6.56.84,9.84Q4,31.35,4.51,37.58,5.05,44,5.6,50.38c.31,3.66.61,7.32.93,11,.12,1.29.58,1.67,1.9,1.67h18.8c.23,0,.45,0,.67,0,0-.29,0-.5,0-.71q-.39-4.44-.8-8.88-.54-6-1.09-11.92-.47-5.19-.94-10.4a4.25,4.25,0,0,0-2-3.31Q13.39,21.4,3.78,15ZM30.16,63H43.82c1.1,0,1.56-.38,1.56-1.36q0-6.44,0-12.86c0-.94-.42-1.32-1.37-1.32H29.45l-.7,0C29.22,52.7,29.69,57.83,30.16,63ZM5.28,9c.11,1.38.24,2.66.32,3.94a1.17,1.17,0,0,0,.59,1q8,5.26,15.93,10.56l.65.39c-.5-5.82-1-11.52-1.47-17.27Zm42.3,50.09c2.42,0,4.76,0,7.1,0,.75,0,1.13-.48,1.14-1.31,0-1.68,0-3.37,0-5.06,0-1-.4-1.35-1.35-1.35H48a3.56,3.56,0,0,0-.43,0ZM21,5.5a1.32,1.32,0,0,0,.07-.23c0-.46-.07-.92-.11-1.39-.11-1.06-.52-1.4-1.57-1.31l-9.84.82c-1.2.1-2.4.2-3.59.34a1,1,0,0,0-1,1.07c0,.66.08,1.32.13,2.06Z"/><path class="cls-1" d="M16.82,54.71h4.56c.39,0,.82,0,.83.53s-.42.56-.82.56H12.08c-.4,0-.81,0-.8-.57s.4-.53.79-.53Z"/><path class="cls-1" d="M16.72,58.22H12.1c-.4,0-.82,0-.82-.54s.42-.56.82-.56h9.29c.39,0,.82,0,.82.54s-.42.55-.82.55Z"/><path class="cls-1" d="M16.75,52.29h4.69c.38,0,.76,0,.77.53s-.38.55-.76.55H12c-.38,0-.76-.07-.74-.57s.41-.51.79-.51Z"/></g></g></svg></div>气雾剂</div>
          <% end %>
          <!-- inline svg dpi-outline -->
          <%= link_to "#{zh_dosage_forms_path}#DPI" do %>
            <div class="rnd-card rnd-dpi-card-bg"><div class="small-card-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.6 55.96"><g id="Layer_2" data-name="Layer 2"><g id="图层_1" data-name="图层 1"><path class="cls-1" d="M14.47,54.59A14.47,14.47,0,0,1,4.23,29.88L29.89,4.24A14.48,14.48,0,1,1,50.36,24.72L24.71,50.37a14.45,14.45,0,0,1-10.24,4.22ZM6.7,47.89a11,11,0,0,0,15.55,0L47.89,22.26A11,11,0,0,0,32.34,6.71L6.7,32.34a11,11,0,0,0,0,15.55Z"/><path class="cls-2" d="M35.75,37.83a1.71,1.71,0,0,1-1.24-.54L17.39,20a1.75,1.75,0,1,1,2.48-2.47L37,34.85a1.75,1.75,0,0,1-1.24,3Z"/><path class="cls-1" d="M32.06,16.39a1.74,1.74,0,0,1-1.23-3l5.74-5.73a1.76,1.76,0,0,1,1.7-.5,1.74,1.74,0,0,1,.75,3l-5.73,5.79a1.78,1.78,0,0,1-1.23.45Z"/><path class="cls-2" d="M40.05,44.24a1.7,1.7,0,1,1-1.7-1.7A1.7,1.7,0,0,1,40.05,44.24Z"/><path class="cls-2" d="M45,44.24a1.7,1.7,0,1,1-1.69-1.7A1.7,1.7,0,0,1,45,44.24Z"/><path class="cls-2" d="M51.2,42.54a1.7,1.7,0,1,1-1.7-1.7A1.7,1.7,0,0,1,51.2,42.54Z"/><path class="cls-2" d="M49,48.22a1.7,1.7,0,1,1-1.7-1.7A1.7,1.7,0,0,1,49,48.22Z"/><path class="cls-2" d="M43.28,50.43a1.7,1.7,0,1,1-1.7-1.7A1.7,1.7,0,0,1,43.28,50.43Z"/><path class="cls-2" d="M46.67,53.39a1.7,1.7,0,1,1-1.7-1.7A1.7,1.7,0,0,1,46.67,53.39Z"/><path class="cls-2" d="M52.9,53.39a1.7,1.7,0,1,1-1.7-1.7A1.7,1.7,0,0,1,52.9,53.39Z"/><path class="cls-2" d="M40.05,54.26a1.7,1.7,0,1,1-1.7-1.7A1.7,1.7,0,0,1,40.05,54.26Z"/><circle class="cls-2"/></g></g></svg></div>干粉剂</div>
          <% end %>
        </div>
        <div class="small-card-display-row">
          <!-- inline svg nebulizer-outline -->
          <%= link_to "#{zh_dosage_forms_path}#Nebulizer" do %>
            <div class="rnd-card rnd-nebulizer-card-bg"><div class="small-card-icon thick-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.55 79.99"><g id="Layer_2" data-name="Layer 2"><g id="图层_1" data-name="图层 1"><path class="cls-1" d="M30.09,40.31A1.28,1.28,0,0,1,28.81,39V31.19a11.56,11.56,0,0,0-2-6.49L19.27,13.62a11.73,11.73,0,0,0-9.7-5.13H1.82a1.18,1.18,0,0,1,0-2.35H11a12.33,12.33,0,0,1,10.2,5.4l8.39,12.33c1.21,1.79,1.8,4.39,1.8,8V39A1.28,1.28,0,0,1,30.09,40.31ZM1.82,6.53a.79.79,0,0,0,0,1.57H9.57a12.08,12.08,0,0,1,10,5.3l7.54,11.08a11.91,11.91,0,0,1,2.07,6.71V39A.9.9,0,0,0,31,39V31.82c0-3.48-.57-6-1.74-7.73L20.86,11.75A11.94,11.94,0,0,0,11,6.53Z"/><path class="cls-1" d="M29.19,38.61H10.61a8.06,8.06,0,0,1-8-8V8.1h7a12.08,12.08,0,0,1,10,5.3l7.54,11.08a11.91,11.91,0,0,1,2.07,6.71ZM3,8.49V30.56a7.68,7.68,0,0,0,7.66,7.67h18.2v-7a11.56,11.56,0,0,0-2-6.49L19.27,13.62a11.73,11.73,0,0,0-9.7-5.13Z"/><path class="cls-1" d="M18.28,43.12H12V39.55h6.31Zm-5.92-.34H17.9V39.89H12.36Z"/><path class="cls-1" d="M22,44.87H8.26a.55.55,0,0,1-.55-.54.55.55,0,0,1,.55-.55H22a.55.55,0,0,1,.55.55A.55.55,0,0,1,22,44.87ZM8.26,44.16a.17.17,0,0,0-.16.17.16.16,0,0,0,.16.16H22a.17.17,0,0,0,.17-.16.18.18,0,0,0-.17-.17Z"/><path class="cls-1" d="M16.42,73.42H12.23c-.51,0-.92-.62-1-1.44l-.54-15.79h7.11L17.38,72C17.35,72.79,16.94,73.42,16.42,73.42ZM11.14,56.57,11.66,72c0,.65.32,1.08.57,1.08h4.19c.26,0,.56-.44.58-1.09l.46-15.38Z"/><path class="cls-1" d="M22,54.71H8.3V46.19H22ZM8.68,54.05H21.57v-7.2H8.68Z"/><path class="cls-1" d="M16.78,51.3H8.49c-.11,0-.19-.14-.19-.33s.08-.32.19-.32h8.29c.11,0,.19.14.19.32S16.89,51.3,16.78,51.3Z"/><path class="cls-1" d="M19.15,51.3H18c-.11,0-.19-.14-.19-.33s.08-.32.19-.32h1.11c.11,0,.19.14.19.32S19.26,51.3,19.15,51.3Z"/><path class="cls-1" d="M21.76,51.3H20.13c-.11,0-.19-.14-.19-.33s.08-.32.19-.32h1.63c.11,0,.19.14.19.32S21.87,51.3,21.76,51.3Z"/><path class="cls-1" d="M.55,67.09H.35V56.66c0-4,2.8-7.29,6.23-7.29h.2v3.35h-.2c-1.81,0-3.29,1.75-3.29,3.91v7.26A3,3,0,0,1,.55,67.09ZM6.39,49.76c-3.13.12-5.65,3.17-5.65,6.9v10a2.66,2.66,0,0,0,2.17-2.8V56.63a4.05,4.05,0,0,1,3.48-4.28Z"/><path class="cls-1" d="M16.08,75.87H12.51V74.35h3.57Zm-3.18-.39h2.8v-.75H12.9Z"/><path class="cls-1" d="M16.08,77.73H12.51V76.22h3.57Zm-3.18-.38h2.8V76.6H12.9Z"/><path class="cls-1" d="M16.08,79.64H12.51V78.12h3.57Zm-3.18-.38h2.8v-.75H12.9Z"/><path class="cls-1" d="M32.39,2a3.16,3.16,0,0,1,2.9-.24.46.46,0,0,0,.4,0,.56.56,0,0,0,0-.78.72.72,0,0,0-.38-.3h0a4,4,0,0,0-3.65.3,4,4,0,0,0-1.6,3.29A3.2,3.2,0,0,1,28.8,6.85a3.19,3.19,0,0,1-2.87.26.4.4,0,0,0-.4,0,.56.56,0,0,0,0,.77.75.75,0,0,0,.36.29h0a4,4,0,0,0,3.65-.3,4,4,0,0,0,1.6-3.29A3.22,3.22,0,0,1,32.39,2Z"/><path class="cls-1" d="M36.57,8.09a3.17,3.17,0,0,1,2.89-.24.4.4,0,0,0,.4,0,.57.57,0,0,0,0-.78.84.84,0,0,0-.39-.3h0a4,4,0,0,0-3.64.31,4,4,0,0,0-1.61,3.28A3.22,3.22,0,0,1,33,13a3.19,3.19,0,0,1-2.87.25.4.4,0,0,0-.4,0,.56.56,0,0,0,0,.78.74.74,0,0,0,.35.29h0A4,4,0,0,0,33.68,14a4,4,0,0,0,1.61-3.28,3.17,3.17,0,0,1,1.28-2.62Z"/><path class="cls-1" d="M37.85,20.1a4.05,4.05,0,0,0,1.61-3.29,3.15,3.15,0,0,1,1.28-2.61,3.19,3.19,0,0,1,2.9-.25.39.39,0,0,0,.39,0,.56.56,0,0,0,0-.77.73.73,0,0,0-.39-.3h0a4,4,0,0,0-3.64.3,4,4,0,0,0-1.61,3.29,2.94,2.94,0,0,1-4.15,2.86.43.43,0,0,0-.4,0,.56.56,0,0,0,0,.78.77.77,0,0,0,.36.29h0a4,4,0,0,0,3.64-.3Z"/></g></g></svg></div>雾化剂</div>
          <% end %>
          <!-- inline svg nasal spray -->
          <%= link_to "#{zh_dosage_forms_path}#Nasal-Spray" do %>
            <div class="rnd-card rnd-nasal-spray-card-bg"><div class="small-card-icon thick-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.62 74.14"><g id="Layer_2" data-name="Layer 2"><g id="图层_1" data-name="图层 1"><path class="cls-1" d="M21.37,25.41H9.25L12.49,2.8a2.85,2.85,0,0,1,5.64,0ZM10.06,24.7h10.5L17.43,2.9a2.14,2.14,0,0,0-4.24,0Z"/><path class="cls-1" d="M28.87,29.43H1.75a1.4,1.4,0,1,1,0-2.79H28.87a1.4,1.4,0,1,1,0,2.79ZM1.75,27.34a.7.7,0,0,0,0,1.39H28.87a.7.7,0,0,0,0-1.39Z"/><path class="cls-1" d="M19.93,35.49H10.69a3.35,3.35,0,0,1-3.35-3.34V30.66H23.28v1.49A3.35,3.35,0,0,1,19.93,35.49ZM8.05,31.37v.78a2.64,2.64,0,0,0,2.64,2.64h9.24a2.64,2.64,0,0,0,2.64-2.64v-.78Z"/><path class="cls-1" d="M22.66,43H7.35A2.32,2.32,0,0,1,5,40.66V39.13a2.32,2.32,0,0,1,2.32-2.32H22.66A2.32,2.32,0,0,1,25,39.13v1.53A2.32,2.32,0,0,1,22.66,43ZM7.35,37.52a1.62,1.62,0,0,0-1.62,1.61v1.53a1.62,1.62,0,0,0,1.62,1.61H22.66a1.61,1.61,0,0,0,1.61-1.61V39.13a1.61,1.61,0,0,0-1.61-1.61Z"/><path class="cls-1" d="M22.9,73.78H7.1a4.23,4.23,0,0,1-4.38-4v-15a10.88,10.88,0,0,1,4.17-8.44l-.76-1.7H23.87l-.76,1.7a10.88,10.88,0,0,1,4.17,8.44v15A4.23,4.23,0,0,1,22.9,73.78ZM7.22,45.28l.54,1.22-.22.17a10.18,10.18,0,0,0-4.11,8v15A3.52,3.52,0,0,0,7.1,73.08H22.9a3.52,3.52,0,0,0,3.67-3.33v-15a10.18,10.18,0,0,0-4.11-8l-.22-.17.55-1.22Z"/><rect class="cls-1" x="16.3" y="37.16" width="3.97" height="5.46"/><rect class="cls-1" x="13.2" y="37.16" width="1.28" height="5.46"/></g></g></svg></div>鼻喷剂</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-products content-card ta-center flex-wrap justify-content-center align-items-center">
    <div class="home-products-text-area">
      <p class="text-larger text-bold">产品介绍</p>
      <p>长风药业专注于开发吸入制剂仿制药和新药，并坚持为消费者提供专业和实用的医疗产品。</p>
    </div>
    <div class="w100 tab-container">
      <div class="products-container">
        <p id="pharma-tab-title" class="product-tab-title ta-left mar-lr-rem1 text-bold active-product-tab">医药产品</p>
        <p id="chc-tab-title" class="product-tab-title ta-left mar-lr-rem1 text-bold">护理产品</p>
      </div>
      <div id="product-tab-content" class="tab-product-content">
        <div class="active-product-image-section tab-carousel">
          <div class="tab-card-product">
            <%= image_tag "#{@first_changqi.imgurl}", alt: "product picture" %>
            <div class="card-product-overlay">
              <h2><%= "#{@first_changqi.zh_product_family}" %><sup>&reg;</sup> <br><%="#{@first_changqi.zh_product_name}"%></h2>
            </div>
          </div>
          <div class="tab-card-product">
            <%= image_tag "#{@first_changshu.imgurl}", alt: "product picture" %>
            <div class="card-product-overlay">
              <h2><%= "#{@first_changshu.zh_product_family}" %><sup>&reg;</sup> <br><%="#{@first_changshu.zh_product_name}"%></h2>
            </div>
          </div>
          <div class="btn-area btn-block">
            <%= link_to "医药产品", zh_generic_drug_products_path, class: "btn btn-flat" %>
          </div>      
        </div>
        <div class="tab-carousel">
          <% @consumer_products.each do |e| %>
          <div class="tab-card-product">
            <%= image_tag "#{e.imgurl}", alt: "product picture" %>
            <div class="card-product-overlay">
              <h2><%= "#{e.zh_product_family}" %><sup>&reg;</sup> <br><%= "#{e.zh_product_name}" %></h2>
              <div class="btn-area">
              </div>
            </div>
          </div>
          <% end %>
          <div class="btn-area btn-block">
            <%= link_to "护理产品", zh_consumer_products_path, class: "btn btn-flat" %>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="content-card">
    <div class="card-image-area">
      <%= image_tag "home/partnership", alt: "alttext", class: "card-image" %>
    </div>
    <div class="card-text-area">
      <div class="card-text">
        <p class="text-larger text-bold">合作</p>
        <p>长风药业已与多家公司建立了合作伙伴关系，将共同努力为全球市场开发新化合物创新技术和新型吸入制剂产品。此外，我们还为合作伙伴提供开发解决方案和服务。</p>
        <div class="btn-area">
          <%= link_to "更多", zh_partnership_path, class: "btn btn-flat" %>
        </div>
      </div>
    </div>
  </div>
</div>
