<!-- Info banner-->
<div class="info-banner partnership-banner-bg">
  <div class="info-banner-title info-title-right">
    <h1>合作开发</h1>
  </div>
</div>
<div class="">
  <div class="bg-light-color pr h-100vh of-hidden">
    <%= image_tag "cf-logo-outline-white", class: "white-logo-bg" %>
    <div class="pr">
      <div id="Collaborations" class="jump-anchor"></div>
      <div class="floating-block-container pr">
        <%= image_tag "partnership/collaboration", alt: "alttext", class: "collaboration-image" %>
        <div class="floating-block bg-trans-teal">
          <h4 class="text-larger text-bold">协作</h4>
          <p>长风不仅拥有仿制药产品开发团队，还拥有一支专项技术核心团队，凭借高级吸入制剂产品的开发能力，全力支持您的新药开发项目，包括新化合物和新型吸入装置的早期研究、产品生产、产品上市，全流程为您提供优质的服务。</p>
          <p>我们欢迎多种形式的合作，如共同投资，共同开发，或CDMO服务等。 <%= link_to "服务", zh_services_path %>. </p>
          <p>如果您有兴趣与我们合作，请<strong><%= link_to "联系我们", contact_us_path %></strong>。<br>(info@cfpharmtech.com)</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="h-100vh">
    <div id="Services" class="jump-anchor"></div>
    <div>
      <div>
        <h4 class="text-larger text-bold ta-center pad-t-rem2"><%= link_to "服务", zh_services_path %></h4>
        <div class="">
          <div class="scope-display scope-bg">
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>可行性分析</li>
                  <li>处方开发</li>
                  <li>分析方法开发</li>
                  <li>包材/装置筛选</li>
                  <li>工艺开发</li>
                </ul>
              </div>
              <div class="scope-card-header-border-blue">
                <div class="fw-display-card-header teal-text">
                  <h4>研发</h4>
                </div>
              </div>
            </div>
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>临床前研究批</li>
                  <li>工艺严重批</li>
                  <li>临床批</li>
                  <li>商业批</li>
                </ul>
              </div>
              <div class="scope-card-header-border-green">
                <div class="fw-display-card-header teal-text">
                  <h4>CMO服务</h4>
                </div>
              </div>
            </div>
            <div class="fw-display-card scope-card-bg">
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>处方分析</li>
                  <li>动物实验</li>
                  <li>体外检测</li>
                  <li>相容性检测</li>
                  <li>稳定性检测</li>
                  <li>申报注册</li>
                </ul>
              </div>
              <div class="scope-card-header-border-blue">
                <div class="fw-display-card-header teal-text">
                  <h4>其他服务</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
