<!-- Info banner-->
<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>合作</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div id="Collaborations" class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>协作</h4>
          <p>除了我们的仿制药产品开发团队，我们还拥有专项技术专家团队和高级吸入制剂产品的开发能力，以支持您的新药开发项目，包括从早期阶段到产品生产以及到产品上市的新化合物研究、新型吸入装置研究。</p>
          <p>我们欢迎多种形式的合作，如共同投资，共同开发，或CDMO服务等。</p>
          <p>如果您有兴趣与我们合作，请随时与我们。 <%= link_to "联系", zh_contact_us_path %>。</p>
        </div>
        <!-- <div class="fw-display-card-footer">
          <p>1. Project leaders with years of experience in both the global and Chinese market.</p>
          <p>2. Comprehensive GMP facility that is capable of manufacturing all forms of inhalation drug and meet GMP requirements.</p>
          <p>3. Competitive price and high standards that provide significant cost saving and high quality.</p>
        </div> -->
      </div>
      <div class="card-image-area">
        <%= image_tag "partnership/collaboration", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div class="card-narrow bg-trans-white-green">
      <div class="d-flex mb-2 px-4 flex-wrap align-items-center">
        <%= image_tag "partnership/doodles", alt: "alttext", class: "doodles" %>
        <%= image_tag "partnership/work-with-us", alt: "alttext" %>
        <p class="text-large">如果您有兴趣与我们合作，请随时与 <strong><%= link_to "我们联系", contact_us_path %></strong>。<br>(info@cfpharmtech.com)</p>
      </div>
    </div>
    <!-- Table -->
    <div id="Services" class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>服务</h4>
          <p>长风药业致力于打造一个综合性的研发技术平台，为合作伙伴提供吸入制剂产品开发的全方位服务。</p>
          <div class="fw-display">
            <div class="fw-display-card">
              <%= image_tag "partnership/cro", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>研发</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>可行性分析</li>
                  <li>处方开发</li>
                  <li>分析方法开发</li>
                  <li>包材/装置筛选</li>
                  <li>工艺开发</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <%= image_tag "partnership/cmo", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>CMO服务</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>临床前研究批</li>
                  <li>工艺严重批</li>
                  <li>临床批</li>
                  <li>商业批</li>
                </ul>
              </div>
            </div>
            <div class="fw-display-card">
              <%= image_tag "partnership/other-services", alt: "alttext", class: "fw-pin" %>
              <div class="fw-display-card-header">
                <h4>其他服务</h4>
              </div>
              <div class="fw-display-card-body">
                <ul class="bulleted-list">
                  <li>处方分析</li>
                  <li>动物实验</li>
                  <li>体外检测</li>
                  <li>相容性检测</li>
                  <li>稳定性检测</li>
                  <li>申报注册</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
