<div class="info-banner research-and-development-banner-bg">
  <div class="info-banner-title-blue">
    <h1>研发平台</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>R&D Team</h4>
          <p>CF PharmTech R&D team is made up of scientists with successful experience in the research and development of inhaled drugs and many experienced senior research and development personnel. Relying on the international and domestic top academic and regulatory exchanges and technical cooperation, our R&D team has the professional knowledge and skills, capable of carrying out a full range of respiratory system drug delivery technology research and development work, to provide high-quality inhaled products for the global market.</p>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "research-and-development/research-and-development-team", alt: "alttext", class: "card-img" %>
      </div>
    </div>
    <div class="content-card">
      <div class="card-img-area">
        <%= image_tag "research-and-development/therapeutic-areas", alt: "alttext", class: "card-img" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4>治疗领域</h4>
          <p>长风药业专注于开发治疗呼吸系统疾病的鼻腔和肺部给药技术产品，包括：</p>
          <ul class="bulleted-list">
            <li><%= link_to "哮喘", "#{zh_therapeutic_areas_path}#Asthma" %></li>
            <li><%= link_to "COPD", "#{zh_therapeutic_areas_path}#COPD" %></li>
            <li><%= link_to "鼻炎", "#{zh_therapeutic_areas_path}#Rhinitis" %></li>
            <li><%= link_to "其他呼吸系统疾病", "#{zh_therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h4>剂型研发</h4>
          <p> 长风药业拥有完整的剂型研发平台，目前有5个基本在研剂型：</p>
          <ul class="bulleted-list">
            <li><%= link_to "气雾剂 (MDI) ", "#{zh_dosage_forms_path}#MDI" %></li>
            <li><%= link_to "干粉剂 (DPI)", "#{zh_dosage_forms_path}#DPI" %></li>
            <li><%= link_to "雾化剂", "#{zh_dosage_forms_path}#Nebulizer" %></li>
            <li><%= link_to "鼻喷剂", "#{zh_dosage_forms_path}#Nasal-Spray" %></li>
            <li><%= link_to "软雾剂 (SMI)", "#{zh_dosage_forms_path}#SMI" %></li>
          </ul>
        </div>
      </div>
      <div class="card-img-area">
        <%= image_tag "research-and-development/dosage-forms", alt: "alttext", class: "card-img" %>
      </div>
    </div>
    <div class="content-card">
      <div class="card-img-area">
        <%= image_tag "research-and-development/dosage-forms", alt: "alttext", class: "card-img" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4>质量系统</h4>
          <p>我们的质量团队将确保所有的研发活动都符合中国、美国和欧洲的相关法规</p>
          <ul class="bulleted-list">
            <li>分析方法开发和验证</li>
            <li>建立质量标准</li>
            <li>原辅料、包材质量管理</li>
            <li>通过官方和客户审计核查，确保提交监管部门所有文件的质量。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
