<div class="info-banner info-banner-bg">
  <div class="info-banner-title">
    <h1>研发平台</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card card-reverse">
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">研发团队</h4>
          <p>长风药业研发团队由具有成功吸入制剂药物研发经历的科学家和多位经验丰富的资深研发人员组成。依托于国际、国内最顶尖的学术及法规交流和技术合作，我们的研发团队具备专业的素质和技能，有能力开展全方位的呼吸系统给药技术的研发工作，为全球市场提供高质量的吸入制剂产品。</p>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "research-and-development/r-and-d-team", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area">
        <%= image_tag "research-and-development/therapeutic-areas", alt: "alttext", class: "card-image" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">治疗领域</h4>
          <p>长风药业专注于开发治疗呼吸系统疾病的鼻腔和肺部给药技术产品，包括：</p>
          <ul class="bulleted-list">
            <li><%= link_to "哮喘", "#{zh_therapeutic_areas_path}#Asthma" %></li>
            <li><%= link_to "COPD", "#{zh_therapeutic_areas_path}#COPD" %></li>
            <li><%= link_to "鼻炎", "#{zh_therapeutic_areas_path}#Rhinitis" %></li>
            <li><%= link_to "其他呼吸系统疾病", "#{zh_therapeutic_areas_path}#Other-Respiratory-Diseases" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-card card-reverse">
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">剂型研发</h4>
          <p> 长风药业拥有完整的剂型研发平台，目前有5个基本在研剂型：</p>
          <ul class="bulleted-list">
            <li><%= link_to "气雾剂 (MDI) ", "#{zh_dosage_forms_path}#MDI" %></li>
            <li><%= link_to "干粉剂 (DPI)", "#{zh_dosage_forms_path}#DPI" %></li>
            <li><%= link_to "雾化剂", "#{zh_dosage_forms_path}#Nebulizer" %></li>
            <li><%= link_to "鼻喷剂", "#{zh_dosage_forms_path}#Nasal-Spray" %></li>
            <li><%= link_to "软雾剂 (SMI)", "#{zh_dosage_forms_path}#SMI" %></li>
          </ul>
        </div>
      </div>
      <div class="card-image-area">
        <%= image_tag "research-and-development/dosage-forms", alt: "alttext", class: "card-image" %>
      </div>
    </div>
    <div class="content-card">
      <div class="card-image-area">
        <%= image_tag "research-and-development/quality-system", alt: "alttext", class: "card-image" %>
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h4 class="text-larger text-bold">质量系统</h4>
          <p>我们的质量团队将确保所有的研发活动都符合中国、美国和欧洲的相关法规</p>
          <ul class="bulleted-list">
            <li>分析方法开发和验证</li>
            <li>建立质量标准</li>
            <li>原辅料、包材质量管理</li>
            <li>通过官方和客户审计核查，确保提交监管部门所有文件的质量。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
