<div class="info-banner" style="background-image: url(<%= asset_path 'about-us-banner.png' %>); background-position: 50% 80%;">
  <div class="info-banner-title-blue">
    <h1>Services</h1>
  </div>
</div>
<div class="container">
  <div class="info-container bg-white">
    <div class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Our Services</h3>
          <p>CF PharmTech is committed to creating a comprehensive and integrated R&D and technology platform, and providing our partners with full range services for inhaled product development.</p>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="<%= asset_path 'about-us-1.jpg' %>" alt="">
      </div>
    </div>
    <div id="" class="content-card">
      <div class="card-img-area">
        <img class="card-img" src="<%= asset_path 'about-us-2.jpg' %>" alt="">
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h3>Development</h3>
          <p><strong>CF PharmTech</strong> R&D and Technology center is located in Wuxi, Jiangsu, China. The laboratories are equipped with advanced testing equipment and instruments, including Andersen cascade impactor (ACI), Next Generation Pharmaceutical Impactor(NGI), automatic HPLC, breathing simulator, automatic high performance liquid chromatography, LSPSDA, Spray View. With our development capability and <%= link_to "experienced team of scientists", research_and_development_platform_path  %>, we will form a strong partnership to bring your product to the market sooner.</p>
        </div>
      </div>
    </div>
    <div id="" class="content-card">
      <div class="card-text-area">
        <div class="card-text">
          <h3>Manufacturing</h3>
          <p>Our manufacturing facility is located in Suzhou, Jiangsu, China, with 6 production lines, including Nebulizer, Metered Dose Inhaler, Nasal Spray, Dry Powder Inhaler products. QC testing laboratory is in site and is compliant with China, EU, and US FDA requirements. </p>
        </div>
      </div>
      <div class="card-img-area">
        <img class="card-img" src="<%= asset_path 'about-us-3.jpg' %>" alt="">
      </div>
    </div>
    <div id="" class="content-card">
      <div class="card-img-area">
        <img class="card-img" src="<%= asset_path 'about-us-2.jpg' %>" alt="">
      </div>
      <div class="card-text-area">
        <div class="card-text">
          <h3>Regulatory Affairs</h3>
          <p>CF PharmTech Regulatory Affairs Team has an extensive experience to work with Chinese, US FDA, and European regulatory authorities with inhaled product submissions. With our knowledge on the regulatory requirements for respiratory therapies, we are committed to supporting you and your new product development programs.</p>
        </div>
      </div>
    </div>
  </div>
</div>
