<footer class="footer footer-bg">
  <%= image_tag "cf-logo-silhouette", class: "footer-logo z0 pa" %>
  <div class="footer-container">
    <div class="footer-list-container">
      <div class="cell-a">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Products", products_path %></li>
          <li><%= link_to "Partnership", partnership_path %></li>
        </ul>
      </div>
      <div class="cell-b">
        <ul>
          <li><%= link_to ("News"), news_path %></li>
          <li><%= link_to "R&D", research_and_development_platform_path %></li>
          <li><%= link_to "Company", company_path %></li>
        </ul>
      </div>
      <div class="cell-c">
        <ul>
          <li><%= link_to ("Investors"), investors_path %></li>
          <li><%= link_to "Career", careers_path %></li>
          <li><%= link_to "Contact", contact_us_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
