<div class="container-fluid sticky-top" style="background-color: white;">
  <div class="row">
    <div id="fullnav" class="fullwidth fullnav" onclick="navExtend()">
      <div id="expanding-nav" class="navigationbar navigationbar-hidden">
        <%= link_to (image_tag "cf-logo.svg", class: "navigationbar-logo"), root_path %>
        <div class="navigationbar-list">
          <div class="navigationbar-list-header"><%= link_to ("Home"), root_path, class: "navigationbar-link" %></div>
          <div class="navigationbar-list-item"><%= link_to ("News"), root_path %></div>
          <div class="navigationbar-list-item"><%= link_to ("Investors"), root_path %></div>
        </div>
        <div class="navigationbar-list">
          <div class="navigationbar-list-header"><%= link_to ("Products"), products_path, class: "navigationbar-link"  %></div>
          <div class="navigationbar-list-item"><%= link_to ("Pharmaceutical Products"), products_path %></div>
          <div class="navigationbar-list-item"><%= link_to ("Consumer Healthcare"), consumer_products_path %></div>
        </div>
        <div class="navigation-list">
          <div class="navigationbar-list-header"><%= link_to ("Partnership"), work_with_us_path  %></div>
          <div class="navigationbar-list-item"><%= link_to ("Collaborations"), work_with_us_path %></div>
          <div class="navigationbar-list-item"><%= link_to ("Services"), work_with_us_path %></div>
        </div>
        <div class="navigationbar-list">
          <div class="navigationbar-list-header"><%= link_to ("R&D"), research_and_development_platform_path  %></div>
          <div class="navigationbar-list-item"><%= link_to ("Therapeutic Areas"), therapeutic_areas_path %></div>
          <div class="navigationbar-list-item"><%= link_to ("Dosage Forms"), dosage_forms_path %></div>
          <div class="navigationbar-list-item"><%= link_to ("Quality System"), advanced_facilities_path %></div>
        </div>
        <div class="navigation-list">
          <div class="navigationbar-list-header"><%= link_to ("Company"), about_us_path %></div>
          <div class="navigationbar-list-item"><%= link_to ("What We Do"), "#{about_us_path}" %></div>
          <div class="navigationbar-list-item"><%= link_to ("Mission"), "#{about_us_path}#Our-Mission" %></div>
          <div class="navigationbar-list-item"><%= link_to ("Values"), "#{about_us_path}#Our-Values" %></div>
          <div class="navigationbar-list-item"><%= link_to ("History"), "#{about_us_path}#History" %></div>
        </div>
        <div class="navigation-list">
          <div class="navigationbar-list-header"><%= link_to ("Careers"), careers_path %></div>
          <div class="navigationbar-list-item"><%= link_to ("Life at CF Pharmtech"), "#{careers_path}#life-at-cf" %></div>
          <div class="navigationbar-list-item"><%= link_to ("Meet Us"), "#{careers_path}" %></div>
          <div class="navigationbar-list-item"><%= link_to ("Opportunities"), "#{careers_path}#opportunities" %></div>
        </div>
        <div class="navigation-list">
          <div class="navigationbar-list-header"><%= link_to ("Contact"), contact_us_path %></div>
        </div>
        <div class="navigationbar-list-header">
          <%= link_to (image_tag "china-flag.svg", class: "flag-icon"), "#{zh_path + request.original_fullpath}" %>
        </div>
        <div class="navigationbar-list-header">
          <a class="material-icons" href="#">search</a>
        </div>
      </div>
      <!-- <div class="nav-down-arrow-container"><div id="nav-arrow" class="material-icons">keyboard_arrow_down</div></div> -->
      <div class="navigationbar-border"></div>
    </div>
  </div>
</div>
